@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 400;
          color: rgb(92, 92, 92);
        }

        button {
          font-size: 16px;
          color: #fcf5f3;
          letter-spacing: 2px;
          font-weight: 500;
          padding: 12px 20px;
          background-color: #ff712f;
          border: none;
          cursor: pointer;
          border-radius: 4px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          margin-left: 10px;
          gap: 20px;
        }

        button {
          width: 100px;
          background-color: transparent;
          border: 2px solid #ff5656;
          color: rgb(255, 45, 45);
          padding: 10px 20px;
          border-radius: 5px;
          transition: all 0.3s ease;

          &:hover {
            cursor: pointer;
            color: #fcf5f3;
            border: 2px solid white;
            font-weight: 500;
            background-color: #ff3c3c;
          }
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .avatar-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }

      .enlarged-avatar {
        max-width: 80%;
        max-height: 80%;
        border-radius: 10px;
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
